
/* 切版 */
aside {
    width: 16%;
    /* height: vh; */
    margin-left: 10%;
    padding: 20px;
    position: fixed;
    float: left;
}
article {
    width: 64%;
    height: inherit;
    margin-right: 10%;
    padding: 10px 10px 70px 10px;
    float: right;
}
footer {
    clear: both;
}
/* 撐高header的空間 */
.headerHight {
    min-height: 56px;
}

/* 白色小標 */
.titleSW{
    font-size: 22px;
    font-weight: 900;
    font-family: 'Noto Sans TC', sans-serif;
    letter-spacing: 1px;
    color: #fff;
    text-shadow: 2px 2px #000;
    -webkit-text-stroke: 1.5px #000;
    /* align-items: center; */
}
/* 綠色小標 */
.titleSG{
    font-size: 22px;
    font-weight: 900;
    font-family: 'Noto Sans TC', sans-serif;
    letter-spacing: 1px;
    color: #ABFF1D;
    text-shadow: 2px 2px #000;
    -webkit-text-stroke: 1.5px #000;
}
/* 活動綠色大標 */
.title-block{
    display: inline-block;
    margin: 10px 5%;
    /* position: relative; */
  }
.title-block .custom-title{
    position: absolute;
    text-align: center;
    font-weight: 900;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 28px;
    color: #000;
    -webkit-text-stroke: 5px #000;
    letter-spacing: 2px;
    transform: translate(-2px, -2px);
  }
.title-block .active-title::before{
    font-size: 28px;
    position: absolute;
    -webkit-text-stroke: 1px #000;
    color: #ABFF1D;
    letter-spacing: 2px;
    z-index: 2;
  }
  #title-1.active-title::before{
    content: '本月主打';
  }
  #title-2::before{
    content: '所有店家';
  }
.title-block .title-bg{
    text-align: center;
    font-weight: 900;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 28px;
    color: #000;
    -webkit-text-stroke: 5px #000;
    letter-spacing: 2px;
}
/* 活動類別 */
#activeType{
    width: 150px;
    margin: 7px auto;
    text-align: center;
}
/* 類別按鈕 */
#btnSelect{
    margin: 0 auto;
    display: inline;
}
.type-btn{
    width: 150px;
    margin: 7px;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
    font-family: 'Noto Sans TC', sans-serif;
    letter-spacing: 1px;
    background-color: #ddd;
    border: 3px solid #000;
    box-shadow: 4px 4px 0px #000;
    border-radius: 20px;
    transition-duration: .5s;
}
.type-btn a{
    color: #000;
    text-decoration: none;
}
.type-btn:hover{
    box-shadow: none;
    transform: translate(4px, 4px);
    transition-duration: .5s;
}
.btn-live:hover{
    background-color: #FD5555;
}
.btn-popup:hover{
    background-color: #5570FD;
}
.btn-car:hover{
    background-color: #FDBA55;
}
.btn-market:hover{
    background-color: #01EFBD;
}
.btn-forum:hover{
    background-color: #EF98F9;
}
/* 搜尋按鈕 */
#search{
    position: relative;
}
#search span{
    position: absolute;
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url(./image/icon/search.svg) no-repeat;
    background-size: 80% 80%;
    background-position: left;
    padding-left: 300px;
    margin-top: 10px;
}
#btn-search{
    width: 140px;
    margin: 7px;
    text-align: left;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    font-family: 'Noto Sans TC', sans-serif;
    letter-spacing: 1px;
    border: 3px solid #000;
    box-shadow: 4px 4px 0px #000;
    border-radius: 20px;
    transition-duration: .5s;
}
/* .btn-search{
    width: 150px;
    margin: 7px;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
    font-family: 'Noto Sans TC', sans-serif;
    letter-spacing: 1px;
    background-color: #fff;
    border: 3px solid #000;
    box-shadow: 4px 4px 0px #000;
    border-radius: 20px;
    transition-duration: .5s;
}
.btn-search input{
    width: 100px;
    font-size: 15px;
    font-weight: 500;
    line-height: 30px;
    font-family: 'Noto Sans TC', sans-serif;
    color: #999;
    border: none;
}
.btn-search button{
    background-color: #fff;
    border: none;
}
.btn-search button img{
    width: 25px;
} */
/* 行事曆選單 */
.calendar-btn{
    display: inline-block;
    text-align: center;
}
.calendar-btn span{
    font-size: 15px;
    font-weight: 900;
    line-height: 20px;
    font-family: 'Noto Sans TC', sans-serif;
}
/* 活動卡片 */
#active-card{
    text-align: center;
}
/* 卡片 */
.card{
    width: 250px;
    display: inline-block;
    margin: 10px;
    border: 4px solid #000;
    box-shadow: 4px 4px 0px #000;
    border-radius: 20px;
    transition-duration: .5s;
}
.card:hover{
    box-shadow: none;
    transform: translate(4px, 4px);
    transition-duration: .5s;
}
.card a{
    display: block;
    text-decoration: none;
    text-align: left;
}
.card img{
    border-radius: 15px 15px 0px 0px;
    width: 100%;
    height: 180px;
    display: block;
}
.card-info{
    padding: 5px 10px;
    height: 120px;
    border-radius: 0 0 15px 15px;
    background: #B7B7B7;
}
.card .card-title{
    font-size: 20px;
    font-weight: 900;
    line-height: 20px;
    color: #FFFFFF;
}
.card .card-text{
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    margin-top: 5px;
    color: black;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow:hidden;
}
.card-footer {
    float: right;
    margin: 10px 10px 0 0;
    color: #FFFFFF;
    font-weight: 900;
    font-size: 20px;
}

/* RWD */
@media (max-width: 992px) {
    aside {
        width: 80%;
        margin: 0 10%;
        position: relative;
        float: none;
    }
    aside #calendar-picker{
        height: 0;
        visibility: hidden;
    }
    aside #month-picker{
        width: 100%;
        height: 120px;
        margin: 7px auto;
        visibility: visible;
        text-align: center;
    }
    article {
        width: 80%;
        margin: 0 10%;
        float: none;
    }
}
